@page "/Account/AccessDenied"

<PageTitle>Zugriff verweigert</PageTitle>

<header>
    <h1 class="text-danger">Zugriff verweigert</h1>
    <p class="text-danger">Sie haben keinen Zugang zu dieser Ressource.</p>
</header>