@inherits LayoutComponentBase
@layout EquipmentManagementSystem.Components.Layout.MainLayout

<h1>Account verwalten</h1>

<div>
    <h2>Ändere deine Einstellungen</h2>
    <hr/>
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu/>
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>