@page "/Account/Manage/Email"


@using Microsoft.AspNetCore.Identity
@using EquipmentManagementSystem.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager

<PageTitle>Manage email</PageTitle>

<h3>See email</h3>

<div class="row">
    <div class="col-xl-6">
        <div class="form-floating mb-3">
            <input type="text" value="@email" id="email" class="form-control" disabled/>
            <label for="email" class="form-label">Email</label>
        </div>
    </div>
</div>

@code {
    private ApplicationUser? user;  //Nullable User, da der User im Fehlerfall null sein könnte
    private string? email;

    [CascadingParameter] 
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await UserAccessor.GetRequiredUserAsync(HttpContext);
            if (user != null)
            {
                email = await UserManager.GetEmailAsync(user);
            }
        }
        catch (Exception)
        {
            email = "Error loading email"; // Beispielhafte Fehlerbehandlung
        }
    }
    
}